/* Styling for the photo section */
.photo-section {
    column-count: 3;
    column-gap: 10px;
    padding: 5px;
}

/* Adjust the number of columns for different screen sizes */
@media (max-width: 1024px) {
    .photo-section {
        column-count: 2;
    }
}

@media (max-width: 768px) {
    .photo-section {
        column-count: 2;
    }
}

/* Photo container to hold image and subtitle */
.photo-container {
    position: relative;
    margin-bottom: 5px;
    display: inline-block;
    cursor: pointer;
}

/* Image styles */
.photo {
    width: 100%;
    border: 3px solid #f0f0f0;
    box-sizing: border-box;
    opacity: 1;
    transition: transform 1s, opacity 1s;
}

/* Animate image size when clicked */
.photo-container.active .photo {
    width: calc(100% + 10px);
}

/* Title inside the top of the image */
.photo-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    /* Semi-transparent background for readability */
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* Subtitle at the bottom of the image */
.photo-subtitle {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    background-color: rgba(98, 98, 98, 0.6);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-style: italic;
}

/* Show subtitle when image is clicked */
.photo-container.active .photo-subtitle {
    opacity: 1;
}

/* Animation for image opacity */
.loaded {
    opacity: 1;
}

.lessons-section {
    background-color: rgba(255, 255, 255, 0.8); /* Slight white background with transparency */
    padding: 20px;
    border-radius: 10px;
    line-height: 1.8; /* Increase line spacing */
    font-size: 1.1rem; /* Slightly increase font size */
    color: #333; /* Dark text for better readability */
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Add slight shadow for emphasis */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dog-images-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dog-image {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Circular images */
    object-fit: cover;
    margin: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

p {
    flex: 1;
    margin: 0 20px;
    text-align: justify;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #444;
}